<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.4" targetFramework="net48" />
  <package id="cef.redist.x64" version="109.1.11" targetFramework="net48" />
  <package id="cef.redist.x86" version="109.1.11" targetFramework="net48" />
  <package id="CefSharp.Common" version="117.2.20" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="117.2.20" targetFramework="net48" />
  <package id="Costura.Fody" version="5.7.0" targetFramework="net48" developmentDependency="true" />
  <package id="Esendex.TokenBucket" version="1.0.7" targetFramework="net48" />
  <package id="FCTB" version="2.16.24" targetFramework="net48" />
  <package id="Fody" version="6.7.0" targetFramework="net48" developmentDependency="true" />
  <package id="libsodium-net" version="0.10.0" targetFramework="net48" />
  <package id="log4net" version="2.0.17" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json.Schema" version="3.0.16" targetFramework="net48" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net48" />
  <package id="PuppeteerExtraSharp" version="2.0.0" targetFramework="net48" />
  <package id="PuppeteerSharp" version="10.0.0" targetFramework="net48" />
  <package id="RestSharp" version="112.0.0" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.6" targetFramework="net48" />
  <package id="System.Net.Http.Json" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net48" />
  <package id="Yove.Proxy" version="1.1.1" targetFramework="net48" />
</packages>
